:root{
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
    --white: #fff;
    --black: #111;
    --blackAlpha: #11111141;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: var(--violet);
    background-image: url(../assets/bg-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


/* HEADER  */
header{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 85%;
    max-width: 600px;
    height: 120px;
}
header .logo{
    width: 125px;
}

/* MAIN  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 85%;
    max-width: 600px;
    height: auto;
}
main .img{
    width: 100%;
    height: auto;
}
main .sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
main .sec1__title{
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}
main .sec1__paragraph{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--white);
}
main .sec1__button{
    width: 200px;
    height: 40px;
    background-color: var(--white);
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--violet);
    box-shadow: 0 5px 0 0 var(--blackAlpha);
}


/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 85%;
    max-width: 600px;
    height: auto;
}
footer .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100px;
}
footer .icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid var(--white);
}
footer .icons a i{
    font-size: 1.3rem;
    color:  var(--white);
    margin: 1px 0 0 0;
}


@media (min-width: 850px){
    body{
        gap: unset;
        background-image: url(../assets/bg-desktop.svg);
    }
    /* HEADER  */
    header{
        max-width: 1140px;
        height: 20vh;
    }
    header .logo{
        width: 200px;
    }
    /* MAIN  */
    main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        max-width: 1140px;
        height: 70vh;
    }
    main .img{
        width: 60%;
        height: auto;
    }
    main .sec1{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    main .sec1__title{
        font-size: 3.6rem;
        text-align: start;
    }
    main .sec1__paragraph{
        opacity: 80%;
        font-size: 1.5rem;
        text-align: start;
    }
    main .sec1__button{
        height: 50px;
        border-radius: 25px;
    }
    main .sec1__button:hover{
        color: var(--white);
        background-color: var(--magenta);
        transition: all 0.2s;
        box-shadow: 0 8px 0 0 var(--blackAlpha);
        
    }



    /* FOOTER */
    footer{
        align-items: flex-end;
        justify-content: center;
        max-width: 1140px;
        height: 10vh;
    }
    footer .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: auto;
        height: unset;
    }
    footer .icons a:hover{
        border: 1px solid var(--magenta);
    }
    footer .icons a:hover  i{
        color:  var(--magenta);
    }
}